<!DOCTYPE html>

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    GC.Collect();
    String SessionID = HttpContextAccessor.HttpContext.Request.Cookies["SessionID"];

    if (String.IsNullOrEmpty(SessionID) || String.IsNullOrEmpty(Classes.UserFunctions.getUserID(SessionID)))
    {
        String sid = Classes.UserFunctions.generateSessionID();
        Classes.DBFunctions.sendQuery("INSERT INTO Guests (UserID, SessionID) VALUES('" + Classes.UserFunctions.generateSessionID() + "', '" + sid + "');");
        HttpContextAccessor.HttpContext.Response.Cookies.Append("SessionID", sid);
    }

    if (HttpContextAccessor.HttpContext.Request.Path.ToString().ToLower().Contains("/admin")
        && !Classes.UserFunctions.isAdmin(Classes.UserFunctions.getUserID(SessionID)))
    {
        HttpContextAccessor.HttpContext.Response.Redirect("/");
    }

    int day = DateTime.Now.DayOfYear;

}

<style>

    /* cyrillic-ext */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("~/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("~/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* vietnamese */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* vietnamese */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gbD_u50.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gTD_u50.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @@font -face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* vietnamese */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gbD_u50.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gfD_u50.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @@font -face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* vietnamese */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gbD_u50.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gTD_u50.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3g3D_u50.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* vietnamese */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gbD_u50.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gfD_u50.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_epG3gTD_u50.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_epG3g3D_u50.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* vietnamese */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_epG3gbD_u50.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_epG3gfD_u50.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_epG3gnD_g.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
</style>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link href="~/lib/bootstrap/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/lib/date-picker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

    <script src="~/lib/jquery/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap-tagsinput.js"></script>
    <link rel="stylesheet" href="~/css/site.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/date-picker/popper.min.js"></script>
    <script src="~/lib/date-picker/moment.js"></script>
    <script src="~/lib/date-picker/bootstrap-datetimepicker.min.js"></script>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/main.js"></script>

</head>
<body>

    <div id="chatbox-placeholder">
    </div>

    @if (!Classes.UserFunctions.isAdmin(Classes.UserFunctions.getUserID(SessionID)))
    {
        <div id="comm-btn" class="communication-button">
            <div class="hover-comm"><p>CHAT WITH US</p></div>
            <div>
                <i class="fas fa-comments"></i>
            </div>
        </div>
    }


    @if (Classes.UserFunctions.isAdmin(Classes.UserFunctions.getUserID(SessionID))
&& (HttpContextAccessor.HttpContext.Request.Path.ToString().ToLower().Contains("/admin")))
    {
        <div id="admin-page-layout" class="row">
            <div id="admin-menu" class="d-none d-md-block col-12 col-md-3 col-xl-2">
                <div class="menu-fixed col-12 col-md-3 col-xl-2 no-style">
                    <div class="row no-style mb-3">
                        <div class="col-12 d-md-none menu-close" onclick="ToggleMenu()"><i class="fas fa-times fa-1-5x"></i></div>
                        <div class="col-12 verticle-align">
                            <img src="~/admin.png" class="menu-logo">
                        </div>

                    </div>
                    <a href="/">
                        <div class="row admin-menu-item">
                            <div class="col-2 menu-icons"><i class="fas fa-undo fa-2x"></i></div>
                            <div class="col-10 menu-header"><h6>Back to Shop</h6></div>
                        </div>
                    </a>
                    <a href="/Admin/Dashboard">
                        <div class="row admin-menu-item">
                            <div class="col-2 menu-icons"><i class="fas fa-chart-line fa-2x"></i></div>
                            <div class="col-10 menu-header ">
                                <h6>Dashboard</h6>

                            </div>
                        </div>
                    </a>
                    <a href="/Admin/Orders">
                        <div class="row admin-menu-item">
                            <div class="col-2 menu-icons"><i class="fas fa-clipboard-list fa-2x"></i></div>
                            <div class="col-10 menu-header"><h6>Orders</h6></div>
                        </div>
                    </a>
                    <div class="admin-drop-menu">
                        <a href="/Admin/Products">
                            <div class="row admin-menu-item">

                                <div class="col-2 menu-icons"><i class="fas fa-archive fa-2x"></i></div>
                                <div class="col-10 menu-header"><h6>Products</h6></div>
                            </div>
                        </a>
                        <a href="/Admin/AddProduct" class="admin-drop-hidden">
                            <div class="row admin-menu-item">
                                <div class="col-2 "></div>
                                <div class="col-10 menu-header"><h7>Add Product</h7></div>
                            </div>
                        </a>
                    </div>
                    <div class="admin-drop-menu">
                        <a href="/Admin/Promotions">
                            <div class="row admin-menu-item">

                                <div class="col-2 menu-icons"><i class="fas fa-tag fa-2x"></i></div>
                                <div class="col-10 menu-header"><h6>Pomotions</h6></div>
                            </div>
                        </a>
                        <a href="/Admin/AddPromo" class="admin-drop-hidden">
                            <div class="row admin-menu-item">
                                <div class="col-2 "></div>
                                <div class="col-10 menu-header"><h7>Add Pomotion</h7></div>
                            </div>
                        </a>
                    </div>

                    <a href="/Admin/Messages">
                        <div class="row admin-menu-item">
                            <div class="col-2 menu-icons"><i class="fas fa-envelope fa-2x"></i></div>
                            <div class="col-10 menu-header"><h6>Messages</h6></div>
                        </div>
                    </a>
                    <a href="/Admin/Users">
                        <div class="row admin-menu-item">
                            <div class="col-2 menu-icons"><i class="fas fa-users fa-2x"></i></div>
                            <div class="col-10 menu-header"><h6>Users</h6></div>
                        </div>
                    </a>
                    <a href="/Admin/Settings">
                        <div class="row admin-menu-item">
                            <div class="col-2 menu-icons"><i class="fas fa-cog fa-2x"></i></div>
                            <div class="col-10 menu-header"><h6>Settings</h6></div>
                        </div>
                    </a>
                    <a href="/Logout">
                        <div class="row admin-menu-item">
                            <div class="col-2 menu-icons"><i class="fas fa-power-off fa-2x"></i></div>
                            <div class="col-10 menu-header"><h6>Logout</h6></div>
                        </div>
                    </a>
                </div>
            </div>
            <div id="admin-page" class="col-12 d-md-block col-md-9 col-xl-10">

                <div class="admin-pages">
                    <div class="menu-toggle d-md-none d-block" onclick="ToggleMenu()"><i class="fas fa-bars fa-1-5x"></i></div>

                    <div class="row mb-5">
                        <div class="col-4 align-items-stretch">
                            <div class="row shadow bg-white rounded no-margin stat-card p-3 p-md-0">
                                <div class="col-12 col-lg-8 stats-label">
                                    <div class="">
                                        <h6>New Orders</h6>
                                        <p class="d-none d-md-block">@Classes.Orders.getNumOfOrdersForDay(day)</p>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 stat-container">
                                    <div class="chart-svg">
                                        <svg id="percentage-1-svg" viewBox="0 0 36 36" class="circular-chart">
                                            <path class="circle-bg" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                                            <path class="circle" stroke-dasharray="0, 70 , 70 , 100" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" id="percentage-1"></path>
                                            <text x="18" y="20.35" id="percentage-1-text" class="percentage"></text>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- new order end -->
                        <div class="col-4 align-items-stretch">
                            <div class="row shadow bg-white rounded no-margin  stat-card  p-3 p-md-0">
                                <div class="col-12 col-lg-8 stats-label">
                                    <div class="">
                                        <h6>New Users</h6>
                                        <p class="d-none d-md-block">@Classes.UserFunctions.getNumOfUsersForDay(day)</p>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 stat-container">
                                    <div class="chart-svg">
                                        <svg id="percentage-2-svg" viewBox="0 0 36 36" class="circular-chart">
                                            <path class="circle-bg" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                                            <path class="circle" stroke-dasharray="0, 70 , 70 , 100" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" id="percentage-2"></path>
                                            <text x="18" y="20.35" id="percentage-2-text" class="percentage"></text>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Start active sessions -->
                        <div class="col-4 align-items-stretch ">
                            <div class="row shadow bg-white rounded no-margin stat-card  p-3 p-md-0">
                                <div class="col-12 col-lg-8 stats-label">
                                    <div class="">
                                        <h6>Active Sessions</h6>
                                        <p class="d-none d-md-block">3</p>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 stat-container">
                                    <div class="chart-svg">
                                        <svg id="percentage-3-svg" viewBox="0 0 36 36" class="circular-chart">
                                            <path class="circle-bg" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                                            <path class="circle" stroke-dasharray="0, 70 , 70 , 100" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" id="percentage-3"></path>
                                            <text x="18" y="20.35" id="percentage-3-text" class="percentage"></text>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @RenderBody()
                    @RenderSection("Scripts", required: false)

                    <script>
                        day1 = @Classes.Orders.getNumOfOrdersForDay(day - 6);
                        day2 = @Classes.Orders.getNumOfOrdersForDay(day - 5);
                        day3 = @Classes.Orders.getNumOfOrdersForDay(day - 4);
                        day4 = @Classes.Orders.getNumOfOrdersForDay(day - 3);
                        day5 = @Classes.Orders.getNumOfOrdersForDay(day - 2);
                        day6 = @Classes.Orders.getNumOfOrdersForDay(day - 1);
                        day7 = @Classes.Orders.getNumOfOrdersForDay(day);

                        day1Date = '@Classes.Utility.getDateFromDay(day - 6)';
                        day2Date = '@Classes.Utility.getDateFromDay(day - 5)';
                        day3Date = '@Classes.Utility.getDateFromDay(day - 4)';
                        day4Date = '@Classes.Utility.getDateFromDay(day - 3)';
                        day5Date = '@Classes.Utility.getDateFromDay(day - 2)';
                        day6Date = '@Classes.Utility.getDateFromDay(day - 1)';
                        day7Date = '@Classes.Utility.getDateFromDay(day)';

                   //var newOrders = (@Classes.Orders.getNumOfOrdersForDay(day) / @Classes.Orders.getNumOfOrdersForDay(day - 1)) * 100;
                    //console.log(-100 + Math.round((@Classes.Orders.getNumOfOrdersForDay(day) / @Classes.Orders.getNumOfOrdersForDay(day - 1)) * 100));

                        var ordersToday = @Classes.Orders.getNumOfOrdersForDay(day);

                        var ordersYesterday = @Classes.Orders.getNumOfOrdersForDay(day - 1);
                        if (ordersYesterday == 0) {
                            ordersYesterday = 1;
                        }

                        var usersToday =  @Classes.UserFunctions.getNumOfUsersForDay(day);

                        var usersYesterday = @Classes.UserFunctions.getNumOfUsersForDay(day-1);
                        if (usersYesterday == 0) {
                            usersYesterday = 1;
                        }

                        newOrdersPercentage = -100 + Math.round((ordersToday / ordersYesterday) * 100);
                        newUsersPercentage = -100 + Math.round((usersToday / usersYesterday) * 100);


                    </script>

                </div>

            </div>
        </div>


    }
    else
    {


        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="#">OUI OUI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">SHOP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/AboutUs">
                            ABOUT US
                        </a>
                    </li>

                    @if (Classes.UserFunctions.isAdmin(Classes.UserFunctions.getUserID(SessionID)))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Dashboard">ADMIN PANEL</a>
                        </li>
                    }


                    @if (!Classes.UserFunctions.userLoggedIn(SessionID))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/login">LOGIN</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/UserSettings">MY ACCOUNT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">LOGOUT</a>
                        </li>
                    }

                </ul>

            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item login-logout-btn">
                    <a class="nav-link" onclick="window.location.href = '/Basket';"><p id="basket-counter" class="monserrat-font" style="font-size:16pt; cursor:pointer;"><i class="bi bi-bag-fill"></i>@Classes.Basket.getNumOfItems(SessionID)</p></a>
                </li>
            </ul>
        </nav>

        @RenderBody()
        @RenderSection("Scripts", required: false)



    }
</body>

<!--DONT DELETE-->
<div id="messages-null">
</div>


<div class="alert shadow" id="alert-box" style="visibility:hidden;">
    <strong>UH-OH</strong> <p id="alert-message"></p>
</div>

<div class="success shadow" id="success-box" style="visibility:hidden;">
    <strong>SUCCESS</strong> <p id="success-message"></p>
</div>

<div class="acknowledge shadow" id="acknowledge-box" style="visibility:hidden;">
    <strong>DONE</strong> <p id="acknowledge-message"></p>
</div>