@page
@model Group_Project.Models.IndexModel

<div class="container" style="max-width:92%;">
    <h1 style="font-size: 50pt; margin:60px 0px;">Hello Georgia,</h1>
    <div class="index-profile animate">
        <div class="row">
            <div class="col-5" style="margin-top:100px;">
                <center>
                    <img src="~/Images/selfie.png" style="width:150px; height:150px;
                    border-radius:50%;" />
                </center>
            </div>
            <div class="col-7" style="margin-top:100px;">
                <h1 style="font-size:40pt; color:var(--background);">Georgia Hall</h1>
                <p>Studying Accounting at Sheffield Hallam</p>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
                <p>#Sheffield</p>
            </div>
            <div class="col">
                <p>#Sister</p>
            </div>
            <div class="col">
                <p>#Student</p>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </div>

    <h1 style="margin-top:90px;  margin-bottom:40px;">People you may know</h1>
    <div class="row" style="margin:20px 0px;">

        @for (int i = 0; i < 5; i++)
        {
            String path = "/Images/selfie" + i + ".png";
            <div class="col">
                <center>
                    <img src="@path" class="glow-unseen" style="width:120px; height:120px;
                    border-radius:50%;" />
                </center>
            </div>
        }
    </div>

    <h1 style="margin-top:90px; margin-bottom:40px;">Messages</h1>

    @for (int i = 0; i < 5; i++)
    {
        String[] names = { "Sarah", "Clive", "Richard", "Alicia", "Steve" };
        String[] messages = { "Hello, how are you?", "Maybe later", "Sure can", "I'll have a look for you", "Sure" };
        String path = "/Images/selfie" + i + ".png";
        <div class="index-messagepanel animate" onclick="window.location.href = '/message';">
            <div class="row">
                <div class="col-3" style="margin-top:35px;">
                    <center>
                        <a href="/Profile?id=@names[i]"><img src="@path" class="glow-unseen" style="width:120px; height:120px;
                            border-radius:50%;" /></a>
                    </center>
                </div>
                <div class="col-7" style="margin-top:45px;">
                    <h1>@names[i]</h1>
                    <p>
                        <b>@names[i]: @messages[i]</b>
                    </p>
                </div>
                <div class="col-2" style="margin-top:35px;">
                    <center>
                        <i class="fas fa-sliders-h"></i>
                    </center>
                </div>
            </div>
        </div>
    }


</div>
